@import "./mixins";
@import "./constants.scss";

@media only screen and (min-width: 993px) {
  .container {
    width: 85%; 
  }
}

@media only screen and (max-width: 800px) {
  .global-nav .container {
    text-align: center;
  }
}

.global-nav {
  background: $key-color;

  a {
    font-size: .9rem;
    height: 50px;
    line-height: 50px;
  }

  i {
    font-size: 1.1rem;
    font-weight: 500;
  }

  li:hover {
    background: rgba(0, 0, 0, .05)
  }

  li.active {
    background: $key-color;
    
    a {
      color: #e5e5e5;
    }

    &:hover {
      background: #26A69A;
    }
  }

  .title {
    font-size: 1.4rem;
    font-weight: 300;
  }

  img.circle {
    display: block;
    margin: 40px auto;
    width: 100px;
  }
}

.tabs {
  .tab a {
    color: $key-color;

    &:hover {
      color: $key-sub-color;
    }
  }

  .indicator {
    background: $key-color;
  }
}

.icon {
  vertical-align: middle;
}

.circle-icon {
  background: #f5f5f5;
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.page-title {
  font-size: 3.0rem;
}

.page-section-title {
  color: #3498db;
  font-weight: 300;
}

.section-title {
  color: $key-color;
  font-weight: 300;
}

a.collection-item {
  p {
    color: #777;
  }

  .title {
    font-size: 1.2rem;
  }

  .row {
    margin-bottom: 0;
  }
}

footer.page-footer {
  background: $key-color;

  a:hover {
    color: #DB9634 !important; // default color is set !important by materialize
  }
}
